nav {
    background-color: var(--light-bg);
    font-family: var(--secondary-font);
    padding: 0.6rem 1rem;
    border-radius: 0px 0px 12px 12px;
    -webkit-border-radius: 0px 0px 12px 12px;
    -moz-border-radius: 0px 0px 12px 12px;
    -ms-border-radius: 0px 0px 12px 12px;
    -o-border-radius: 0px 0px 12px 12px;
    z-index: 1;
}

nav h1 {
    font-size: 2rem;
}